.nav {
   
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
nav.navbar.bg-body-tertiary {
    background: #dc3545 !important;
    color: whitesmoke;
}
.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: #f8f9fa;
    text-decoration: none;
    white-space: nowrap;
}

.container {
    margin-left: 38%;
    margin-top: 1%;
}
img {
    width: 5%;
        fill: white; 
    }

    
    