<div class="total">
  <div class="soloImmagine">
      <img src="{{ product.src }}" alt="..." class="img-thumbnail">
  </div>
  <div class="textProd">
      <h1>{{ product.name }}</h1>
      <div class="dett">
          <h4>Dettagli</h4>
          <p style="color: grey">{{ product.description }}</p>
      </div>
      <br>
      <div class="price">
          <h4>Price</h4>
          <h1 style="color: goldenrod">${{ product.price }}<button >Buy Now</button></h1>
      </div>
  </div>
</div>

<div *ngIf="!success">
  <h3>{{ error }}</h3>
</div>
