      
      .card1,
      .card2,
      .card3,
      .card4 
       {
        display: inline-block;
        vertical-align: top;
        margin-right: 75px; 
      margin-top:30px;
      
      }
      .card-body[_ngcontent-ng-c4218076753] {
        flex: 1 1 auto;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        color: var(--bs-card-color);
        height: 430px;
    }
      .card4 {
        margin-left: 82%;
        margin-top: -666px;
        
      }
  /* BOTTONI BUY */ 
  .botton {
    margin-top: 26%;
    margin-left: 29%;
    display: flex;
}
.botton1[_ngcontent-ng-c2084184086] {
  margin-top: 44%;
  margin-left: 29%;
  display: flex;
}
      
  /* FINE BOTTONI */ 


.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    height: 450px;
}

img {
    width: 200px; /* Specifica la larghezza desiderata */
    height: 200px; /* Specifica l'altezza desiderata */
    object-fit: cover; /* Adatta l'immagine all'area senza deformarla */
    margin-left:15%;
    margin-top:5%;
  }
  
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #970f1c;
    --bs-btn-hover-border-color: #970f1c;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #970f1c;
    --bs-btn-active-border-color: #970f1c;
    --bs-btn-active-shadow: #970f1c;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #970f1c;
    --bs-btn-disabled-border-color: #970f1c;
}
  