<div class="card-container" *ngIf="true">
  <div class="card1" *ngFor="let product of productList1">
    <div class="card" style="width: 18rem">
      <img class="card-img-top" src="{{ product.src }}" alt="Card image cap" />
      <a (click)="navigaAllaSecondaPagina(product.id)"></a>
      <div class="card-body">
        <h2 class="linkTesto" (click)="navigaAllaSecondaPagina(product.id)" >{{ product.name }}</h2>
        <h1>${{ product.price }}</h1>
        <p>{{ product.description }}</p>
        
      </div>
    </div>
  </div>
</div>
