      
     .card-container {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      gap: 75px;
      margin-top: 1%;
      margin-bottom: 3%;
  }
      
      
      .card-body {
        flex: 1 1 auto;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        color: var(--bs-card-color);
        height: 430px;
    }
     
  /* BOTTONI BUY */ 
  .botton {
    margin-top: 26%;
    margin-left: 29%;
    display: flex;
}

      
  /* FINE BOTTONI */ 


  .card-body{
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    height: 319px;
}

img {
    width: 200px; /* Specifica la larghezza desiderata */
    height: 200px; /* Specifica l'altezza desiderata */
    object-fit: cover; /* Adatta l'immagine all'area senza deformarla */
    margin-left:15%;
    margin-top:5%;
  }
  
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #970f1c;
    --bs-btn-hover-border-color: #970f1c;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #970f1c;
    --bs-btn-active-border-color: #970f1c;
    --bs-btn-active-shadow: #970f1c;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #970f1c;
    --bs-btn-disabled-border-color: #970f1c;
}
  
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.linkTesto:hover{
  cursor: pointer;
  transition: 250ms;
  color:goldenrod ;
  
}